
@{
    ViewData["Title"] = "Travel";
    Layout = "~/Views/Shared/Index_LayoutView.cshtml";
}



<!-- 主要内容 -->
<div class="box1">
    <h2>发布游记</h2>
    <input type="text" class="form-control" placeholder="标题" aria-describedby="sizing-addon1" id=ti><br>
    <textarea class="form-control" aria-describedby="sizing-addon1" placeholder="输入文字内容" id=insStrategy style="resize:none;"></textarea><br>
    <textarea class="form-control" aria-describedby="sizing-addon1" placeholder="插入图片" id=insStrategy style="resize:none;"></textarea><br>
    <input type="file" name="" value="上传图片" class="btn btn-default" id=img><br>
    <input type="submit" name="" value="提交" class="btn btn-default" id=sub>
    <button type="button" class="btn btn-default" onclick="window.location.href='Together.html'" id='ret'>返回</button>
</div>